<?xml version="1.0"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robot">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0227485188690984 -0.00204996608721864 -0.000468889910568399"
        rpy="0 0 0" />
      <mass
        value="104.307293916567" />
      <inertia
        ixx="3.85522334326568"
        ixy="-0.0115971485183534"
        ixz="0.0436205513289232"
        iyy="9.21224718931023"
        iyz="0.0260621162519827"
        izz="6.05412662966756" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="1.0 1.0 1.0" />
      </geometry>

      <!-- Change MAIN BODY color -->
      <material
        name="red_plastic">
        <color
          rgba="0.6 0.02 0.02 1" />
      </material>

    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="1.0 1.0 1.0" />
      </geometry>
    </collision>
  </link>

  <link name="world"/>
  <joint name="base_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin rpy="1.5708 0 0" xyz="0.2 0.2 0.45"/>
  </joint>


  <!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->

  <gazebo>
    <plugin name="control"
      filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>

  <!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->


</robot>